<!DOCTYPE html>
<!-- 
  Clyde 'Thluffy' Sinclair
  SoftDev
  Oct 2022

     simple demo of HTML forms via Flask
     
     trioTASK:
     If any member of team has forms experience, let their know-how OSMOTE.
     If no one does, seek external assistance.
     
     PROTIP: Revisit code from intro if you have it.
     Peruse this code together and discuss how it should work,
       in conjunction with the back end apparatus.
 -->


<html>

  <head>
    <title> LANDING PAGE </title>
  </head>

  <body>
    <h3>
      Jelly Jam Pancakes - Jeremy Kwok, Jacob Guo, Prattay Dey
      <br>
      SoftDev
      <br>
      K12 -- Take and Give
      <br>
      2022-10-18
      <br>
      time spent: 1.0
    </h3>


    <h3>
      Landing Page: Enter your username below to proceed.
    </h3>
    <form action="/login", method="get">
      <input type="text" name="username">
      <input type="submit" name="sub1">
    </form>
    <br>
  </body>

</html>
